.col.s3 > .btn {
  width: 100%;
}

body {
  width: 375px;
}

a {
  color: black;
}

.btnNav {
  background-color: #1de9b6;
}

.pddng {
  padding-left: 0 !important;
}

.loginBike {
  margin-top: 20px;
  
}

.fbBtn {
  background-color: #01579b;
  margin-bottom: 10px;
}

.gglBtn {
  background-color: #b71c1c;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 50px
}

.textColor {
  color: #1de9b6;
}

.input-field {
  margin: 0;
  padding-left: 5px;
  padding-bottom: 10px;
}

.lgnemail, .socialBtn {
  margin-top: 70px;
}

.searchBar {
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 5px;
}

.lctnIcon {
  color: #b0bec5;
  font-size: 40px;
}

.btnIr {
  width: 50px;
  height: 40px;
  margin-right: 0px;
  margin-left: 15px;
}

#inputAddress {
  width: 220px;
}

.anotherClass {
  padding-left: 5px;
}

.btnbttm {
  font-size: 30px;
  color:#1de9b6;
  padding-left: 20px;
}

footer {
  background-color:#424242;
  height: 104px;
  width: 379px;
  padding: 0px;
}

.footrA i {
  /* margin-top: 50px; */
  font-size: 30px;
  color:#1de9b6;
}

.footrA {
  color:#1de9b6;
  padding-bottom: 0px;
}
